# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

*.pyc
.vscode
flask
venv
**/node_modules

# npm
*node_modules/*
*.log
*.gz

*venv/*

*__pycache__/*


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
