.top {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
  grid-template-rows: 75px;
  border-bottom: 10px solid #777DA7;
  grid-auto-rows: 75px 75px;
  background-image: url("../images/logo_x_pattern.png");
  background-repeat: repeat;
}
.maincontent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 500px;
  border-bottom: 10px solid #777DA7;
  border-right: 10px solid #777DA7;
  border-left: 10px solid #777DA7;
  grid-auto-rows: 500px 500px;
}
.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  background-color: rgb(175, 183, 236);
  text-align: center;
  border-right: 10px solid #777DA7;
  grid-auto-rows: 100px;
}
.audiovideo{
  grid-column: 1;
  grid-row: 1;
  background: rgb(74, 70, 79);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.audio {
  grid-column: 1;
  grid-row: 1;
}
.video {
  grid-column: 1;
  grid-row: 2;
}
.notes{
  grid-column: 1;
  grid-row: 2;
}
.choosefile{
  width: 100%;
}
.media{
  background-color: rgb(175, 183, 236);
}
#sound{
  height: 100%;
  width: 100%;
}
#wandicon{
  margin-top: 10px;
}
.icon{
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  line-height: 75px;
}
.mediamark{
  grid-column: 2;
  grid-row: 1;
  font-family: "Helvetica-light";
  font-size: 3em;
  line-height: 75px;
}
.searchbox{
  grid-column: 4;
  grid-row: 1;
}
.searchicon{
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}
.searchbar {
  margin-top: 20%;
  height: 50%;
  width: 150px;
}
.searchinput {
  -moz-border-radius: 15px;
  border-radius: 15px;
   border:solid 2px #777DA7;
   padding:5px;
   margin-top: 25px;
}
.end {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
  text-align: center;
  background-image: url("../images/logo_x_pattern.png");
  background-repeat: repeat;
}
.github {
  grid-column: 1;
  grid-row: 1;
  line-height: 200px;

}
.clips {
  display: grid;
  background-color: rgb(175, 183, 236);
  grid-template-columns: 1fr;
  grid-template-rows: 340px;
  grid-gap: 20px;
  grid-auto-rows: 150px;

}
.exampleclip {
  grid-row: auto;
  grid-column: auto;
  background-color: #777DA7;
  overflow-y: hidden;
  /*line-height: 150px;*/
}
.exampleclip:hover{
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 12px;
}
.myclass{
  font-size: 1em;
}
.myclip{
  text-align: left;
  color: black;
}
.exampleclip:hover {
  box-shadow: 10px 10px 5px #888888;
}
.wrapper {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-gap: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px;
  text-align: center;
  overflow: hidden;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a {
  text-decoration: none;
  color: rgb(175, 183, 236);
  font-family: "Helvetica-light";
  font-size: 1.5em;
}
a:hover {
  color: white;
}
@media only screen and (max-width: 500px) {
  .searchicon{
      visibility: hidden;
      text-align: left;
    }
    .icon{
      visibility: hidden;
    }
    .mediamark{
      grid-column: 1/12;
      text-align: center;
    }
    .searchbox{
      grid-column: 1/12;
      grid-row: 2;
      text-align: center;;
    }

    .maincontent {
      display: grid;
      border-right: 0px;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 500px;
    }
    .sidebar {
      grid-row: 1;
      grid-column: 1;
      grid-template-rows: 100px 100px;
      grid-template-columns: 1fr;
    }
    .notes {
      grid-row: 2;
      grid-column: 1;
    }
    .media{
      grid-row: 2;
      grid-column: 1;
      border-right: 10px solid #777DA7;
    }
}
