<html>

<head>
    {% if title %}
    <title>{{ title }} - MediaMark</title>
    {% else %}
    <title>Welcome to MediaMark</title>
    {% endif %}

    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            var input = document.getElementById("input");
            input.onchange = function () {
                var sound = document.getElementById('sound');
                var filename = $('#input').val().replace(/^.*[\\\/]/, '');
                document.getElementById('filename').innerText = filename;
                var reader = new FileReader();
                reader.onload = function (e) {
                    sound.src = this.result;
                    sound.controls = true;
                };
                reader.readAsDataURL(this.files[0]);
            }
        });

        function changeTime(time) {
            document.getElementById("sound").currentTime = parseInt(time);
        }

        $('#submit').click(function () {
            $.ajax("{{ url_for('index') }}").done(function (reply) {
                // $.post("/", $('#comment-form').serialize(), function () {
                //     // alert("success");
                // });
                $('#nodelist').html(reply);
            });
        });
    </script>

</head>

<body>
    
    <div class="top">
        <img id="wandicon" style="max-height: 50px; max-width: 50px" src= "../static/img/magic-wand-hand-drawn-tool.svg"/>
        <div class="mediamark">MediaMark</div> 
        </div>
        <div class="maincontent">
        <div class="sidebar">
              <div class="upload">
                <input type="file" id="input" class="choosefile"/>
            </div>
          </div>
        <div class="media">
          <audio id="sound" src="" ontimeupdate="document.getElementById('time').value = Math.floor(this.currentTime);">
        </div>
        </div>

    {% block content %}{% endblock %}

    <div class="end">
        <div class="github">
            <a style="font-size: 4em" href="https://github.com/mgibbons2/mediamark" target="_blank"> Github</a>
        </div>
    </div>
</body>

</html>